.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding: 0px;
    width: 300px;
    ;
    font-size: 16px;
    cursor: pointer;
}

.task--finished {
    text-decoration: line-through;
    text-decoration-color: green;
}

.delete-task-button {
    font-weight: bold;
    color: darkred;
    padding: 5px;
    font-size: 22;
}

.delete-task-button:hover {
    cursor: pointer;
}